@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

:root {
    --clr-bg: #f9dc5d;
    --clr-text: #df3442;
    --clr-accent: #1f1d2c;

    --ff-primary: 'Zilla Slab Highlight', cursive;
    --ff-secondary: 'Libre Barcode 39 Text', cursive;

    --fs-title: 3rem;
    --fs-paragraph: 2rem;
    --fs-subtitle: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: var(--clr-accent);
}

html,
body {
    width: 100%;
    height: 100%;
}

svg {
    fill: var(--clr-accent);
}

section {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100%;
    height: auto;
    background: var(--clr-bg);

    grid-template-columns: 0.15fr 1fr 0.15fr;
    grid-template-rows: 0.15fr 1fr 0.15fr;
}

button {
    position: relative;
    margin: 1rem;
    background: none;
    border: none;

    cursor: pointer;

    transition: transform 0.15s ease;
}

button:visited,
button:active,
button:focus {
    outline: none;
}

#save {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#run:active,
#save:active {
    transform: scale(1.05);
}

.button_fav,
.button_next {
    display: flex;
    flex-direction: row;
    width: 100%;

    transform: rotate(90deg);
}

.button_next {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    transform: rotate(90deg) scaleY(-1);
}

.container {
    width: 80%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.container p {
    color: var(--clr-text);
    font-family: var(--ff-primary);
    font-size: var(--fs-title);
}

.container aside {
    margin-top: 1rem;
}

.container aside strong,
.container aside em {
    color: var(--clr-text);
    font-size: var(--fs-paragraph);
}